<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FaFa，开启企业社会化时代！</title>
<meta name="description" content="FaFa是一个依托于强大的FaFa即时消息平台、企业开放平台基础上的面向企业用户的社交网络平台。" />
<meta name="keywords" content="FaFa,企业社交平台,企业应用中心,企业即时通讯,企业通讯软件,企业即时通讯软件,免费企业通讯软件,免费企业即时通讯,免费企业即时通讯软件" />
<style>
a{TEXT-DECORATION:none} 
/*a:hover{TEXT-DECORATION:underline}*/
</style>
</head>
<body style="background-color:transparent">
<div id="fafa_webim_ocsfontbox" onmouseover="self.status='';return true" fafa="{{from}}/{{p}}">
  <div id="fafa_webim_ocsboxtop">
    <div id="fafa_webim_ocsfunction">
      <div id="fafa_webim_ocstopleft">{{text|raw}}</div>
      <div id="fafa_webim_ocstopright"><a id="fafa_webim_ocsnar" class="fafa_webim_ocs_nar" href="javascript:minw()" title="最小化">最小化</a> <a id="fafa_webim_ocsclose" href="#" title="关闭">关闭</a> </div>
    </div>
    <div id="fafa_webim_ocstitle">{{subject}}</div>
  </div>
  <div id="fafa_webim_ocsboxcenter" style="display:''">
    <div id="fafa_webim_ocscontent">
      <ul>
      {{outHtml|raw}}
      </ul>
    </div>
  </div>
  <div id="fafa_webim_ocsboxfooter"><img src="https://www.fafaim.com/bundles/fafawebimimonlineservice/images/kf_05.png" width="145" height="37" /></div>
</div>
</body>
<script>
document.getElementById("content").onclick=function(event)
{
    	var ev=(window.event || event);
    	var ele = ev.target||ev.srcElement;
    	var to = ele.getAttribute("to");
    	if(to!=null && to!="")
    	{
    	    	
    	}
}
</script>