{% extends 'JustsyAdminAppBundle::master.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('bundles/fafatimewebase/css/zTreeStyle/zTreeStyle.css')}}" type="text/css" rel="stylesheet">
<link href="{{ asset('bundles/fafatimembapp/jquery-ui/css/jquery-ui-1.8.14.custom.css')}}" type="text/css" rel="stylesheet"> 
<link href="{{ asset('bundles/fafatimeweopenapi/css/site.css')}}" type="text/css" rel="stylesheet"/>
<link href="{{ asset('bundles/fafatimeweopenapi/css/content.css')}}" type="text/css" rel="stylesheet"/>
<link href="{{ asset('bundles/fafatimeweopenapi/css/msg.css')}}" type="text/css" rel="stylesheet"/>
<link href="{{ asset('bundles/fafatimeweopenapi/css/main.css')}}" type="text/css" rel="stylesheet"/>
<link href="{{ asset('bundles/fafatimembapp/css/pagination.css')}}" type="text/css" rel="stylesheet"/>
<link href="{{ asset('bundles/fafatimembapp/css/common.css')}}" type="text/css" rel="stylesheet"/>
<style type="text/css">
	 .report_area { float: left;margin-left:20px;padding: 10px 20px;width:900px;}
	 .report_filename { border: 1px solid #0088cc;display: block;float:left;height:25px;line-height:22px;padding-left:10px;width:745px;background-color:#ffffff; }
	 	.report_area_filebox { background-color: red;float: right;margin-right: 5px;margin-top: -25px;opacity: 0;width:55px;cursor:pointer;}
	 .report_hint { display:block;float:left;height:33px;line-height:33px;margin-left:85px;max-width:285px;width:285px; }
	 .report_uploadfile_icon { background-image: url("/bundles/fafatimeweopenapi/images/icon28.png");background-position: -1px -252px; cursor: pointer;float: right;height: 25px;margin-right: 7px;margin-top: -25px;width: 25px;  }
	 .report_content { float:left;cursor: default;width: 100%;}
	 .report_content>li { float:left;border-bottom: 1px dashed #ccc;font-size:12px;padding:5px 10px;width: 100%;}
	 .report_content>li:hover { color:#0088cc;border-bottom:1px dashed #0088cc;}
	 .report_contnet_filename { float:left;width:600px;}
	 .report_contnet_date { float: left;font-family: arial;font-size: 11px;padding-top: 4px;text-align:right;width: 100px;}
	 .report_contnet_staff { float:left;width:60px;text-align:center;}
	 .report_content_empty { border: 1px solid #0088cc;height: 38px;margin: 120px auto;width: 220px; }
	 .report_uploadhine { float:left;margin-left:-301px;margin-top:2px;padding-left:5px;max-width:300px;color:#cc3300;}
	 .report_title { border-bottom: 1px solid #ccc;float: left;padding: 2px 10px;width: 100%;font-size:12px;}
	 .report_title>span { float:left;}
</style>
{% endblock %}

{% block javascriptsref %}

<script type="text/javascript" src="{{ asset('bundles/fafatimewebase/js/jquery.ztree.core-3.4.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/fafatimewebase/js/jquery.ztree.excheck-3.4.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/fafatimembapp/jquery-ui/js/jquery-ui-1.8.14.custom.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/fafatimewebase/js/jquery.form.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fafatimeweopenapi/js/json2.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/fafatimeweopenapi/js/loader.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/fafatimembapp/js/jquery.pagination.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/fafatimembapp/js/school.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/fafatimewebase/js/ajaxfileupload.js')}}"></script>

{% endblock %}

{% block body %}
<div class="container mb_content_area">
  <div class="containerBox" style="padding:0px;cursor:default;">
  	  <div id="report_main">
	  	  <!--查询部分-->
	  		<div class="search_area" style="padding-left:30px;">
				   <span>上传日期：</span>
				 	 <select class="mb_combox" id="select_date">
				 	 	  <option value=""></option>
				 	 	  {% for dates in report_date %}
									<option value="{{dates['begindate']}}">{{dates['reportdate']}}</option>
						  {% endfor %}
				 	 </select>
				 	 <span style="margin-left:20px;">文件名称：</span>
				 	 <input class="mb_textbox" type="text" style="width:200px;" id="text_filename" />
				 	 <span style="margin-left:20px;">上传人员：</span>
				 	 <select class="mb_combox" id="select_staff">
				 	 	  <option value=""></option>
				 	 	  {% for staffs in staff %}
									<option value="{{staffs['staffid']}}">{{staffs['staff']}}</option>
						  {% endfor %}  			 	 	  
				 	 </select>
				 	 <span style="margin-left:20px;" onclick="reportManage.Search(1);" class="btnGreen mb_button">查&nbsp;&nbsp;询</span>
				 	 <span style="margin-left:20px;" onclick="reportManage.toggle();" class="btnGreen mb_button">上传文件</span>
	  	  </div>
	  	  <!--查询结果部分-->  	  
	  	  <div style="float:left;width:100%;">
		  	  <table align="center" id="table_search" class="mb_common_table" style="width:900px;margin-left:30px;">
		  	 	 <thead>
			   	 	  <tr>
							  <td align="center" width="140">上传日期</td>
								<td align="left" width="570"><span style="padding-left:8px;" >标题</span></td>
								<td align="center" width="90">上传人员</td>
								<td align="center" width="98" style="border-right:none;">数据操作</td>
							</tr> 
					 </thead>
					 <tbody></tbody>
				  </table>
		  		<div id="Pagination" class="pagination" style="float:left;padding:0px;margin:8px 0 10px 30px;"></div>  		
	  		</div>
  		</div>
      <div class="report_area" id="sub_area" style="margin-top:10px;display:none;">
      	 <form id="fromportals" method="post" enctype="multipart/form-data">
	      	 <div style="float:left;width:100%;" >
		      	 <span style="float:left;">请选择上传文件：</span>
		      	 <input class="report_filename" readonly="readonly" />
		      	 <input class="report_area_filebox" id="uploadrepeat" name="uploadrepeat"  onchange="reportManage.uploadfile();" type="file" />
		      	 <input id="filename" name="filename" type="hidden" />
		      	 <span class="report_uploadfile_icon"></span>
	      	 </div>
	      	 <span class="report_uploadhine"></span>
      	 </form>
	       <div style="float:left;width:100%;margin:10px 0px;">
	      	 	  <span>标题名称：</span>
	      	 	  <input type="text" class="mb_textbox" maxlength="100" id="report_title" style="margin-left:38px;width:745px;">
	       </div>      	 
      	 <div style="width:100%;background-color:white;float:left;margin-top:10px;">
      	 	 {% include 'JustsyAdminAppBundle:Publish:selectstaff.html.twig' %}
      	 </div>
				 <div style="float:left;width:100%;margin-top:10px;">
				 	  <div class="report_hint"></div>
				 	  <span class="btnGreen mb_button" style="float:left;" onclick="reportManage.Save();">保存权限</span>
				 	  <span class="btnGreen mb_button" style="float:left;margin-left:15px;" onclick="reportManage.backtrack();">返&nbsp;&nbsp;&nbsp;&nbsp;回</span>
				 </div>      	 
      </div>
	</div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
	 $(document).ready(function(){
	 	 reportManage.icon.error = "{{ asset('bundles/fafatimeweopenapi/images/error.png')}}";
	   reportManage.icon.warning = "{{ asset('bundles/fafatimeweopenapi/images/zq.png')}}";
	   reportManage.icon.success = "{{ asset('bundles/fafatimeweopenapi/images/ok.gif')}}";
	   reportManage.icon.loading =  "{{ asset('bundles/fafatimeweopenapi/images/loadingsmall.gif')}}";	   
	   reportManage.upload_url ="{{path('JustsyAdminAppBundle_mb_school_upload')}}";
	   reportManage.edit_url ="{{path('JustsyAdminAppBundle_mb_school_edit')}}";
	   reportManage.detail_url ="{{path('JustsyAdminAppBundle_mb_school_searchdetail')}}";
	   reportManage.delete_url = "{{path('JustsyAdminAppBundle_mb_school_delete')}}";
	   reportManage.search_url = "{{path('JustsyAdminAppBundle_mb_school_search')}}";
	   reportManage.Search(1);
   });
</script>

{% endblock %}