{% extends 'JustsyBaseBundle::master3c.html.twig' %}
{%
set EN_CIRCLE_VIEW = view
%}

{% block main_content_left %}

		{% render "JustsyBaseBundle:CPerBaseInfo:index" with {"name" : "foo"} %}
		{% include 'JustsyBaseBundle:EnterpriseHome:leftmenu.html.twig' with {'network_domain' : curr_network_domain} %}
		{% include 'JustsyBaseBundle:EnterpriseHome:leftmenu_group.html.twig' with {"this" : this,'network_domain' : curr_network_domain,'group_s':group_s,'group_c':group_c}%}
		{% include 'JustsyBaseBundle:EnterpriseHome:leftmenu_download.html.twig' %}
{% endblock %}

{% block main_content_center %}
  {% render "JustsyBaseBundle:CInputArea:index" with {'network_domain' : curr_network_domain, 'name' : 'foo','publish':publish,'trend':trend} %}
  <!--无查看动态权限提示-->  
  {%if not EN_CIRCLE_VIEW%}
    <div id="invite_area" style="display:block;border: 1px solid #DCECF0;height: 30px;margin-bottom: 20px;">
     <div class="rightbox-title">您还未获得相应权限，不能查看企业圈子更多动态！</div>
  </div>
  {%endif%}
  <div id="invite_area" style="display:none;border: 1px solid #DCECF0;height: 110px;margin-bottom: 20px;">
     <div class="rightbox-title">邀请更多同事，与他们随时随地沟通协同办公</div>
     <div id="invite_area_list"></div>
  </div>
  <!--对应使用权限提示-->
  <div class="hometopic">
		<div class="topicmenu" id="topicmenu">
			<ul class="topic_top" id="menus">
				{%if EN_CIRCLE_VIEW%}
				<li style="width:463px;">
					<div class="line20"></div>
					<div class="topb"><span>全部</span></div>
				</li>
				<li style="width:20px;"><a href="javascript:setDisplayTab(null);" title="刷新"><div class="topic_flush"></div></a></li>
				<li dropdownlist="1"><a href="javascript:void(0)"><div class="topic_list" title="筛选动态列表"></div></a>
					<ul class="topic_options" style="margin-top: 0px;">
						<li class="topic_in"><span class="squareico topic_in">■</span><a class="topic_a topic_in" href="javascript:void(0)" targetid="two1" onclick="ConvFilter_OnClick(this)">全部</a></li>
						{%if app.user.IsExistsFunction("OFFICIAL_RELEASE_VIEW")%}
						<li><span class="squareico">■</span><a class="topic_a" href="javascript:void(0)" targetid="two2" onclick="ConvFilter_OnClick(this)">官方</a></li>
						{%endif%}
						<li><span class="squareico">■</span><a class="topic_a" href="javascript:void(0)" targetid="two3" onclick="ConvFilter_OnClick(this)">问答</a></li>
						<li><span class="squareico">■</span><a class="topic_a" href="javascript:void(0)" targetid="two4" onclick="ConvFilter_OnClick(this)">活动</a></li>
						<li><span class="squareico">■</span><a class="topic_a" href="javascript:void(0)" targetid="two5" onclick="ConvFilter_OnClick(this)">投票</a></li>
						<li><span class="squareico">■</span><a class="topic_a" href="javascript:void(0)" targetid="two6" onclick="ConvFilter_OnClick(this)">动态</a></li>
					</ul>
				</li>
				{%endif%}
			</ul>
		</div>
    <div class="tabbox" style="display:none">
        <ul>
          <li id="two1" onClick="setDisplayTab(this)" gettopurl="{{path('JustsyBaseBundle_enterprise_gettopconv')}}?class=conv&network_domain={{curr_network_domain}}&trend={{trend}}" class="hover" loadurl="{{ path('JustsyBaseBundle_enterprise_getallconv',{'trend':trend}) }}" onpublishurl="{{ path('JustsyBaseBundle_component_cdisparea_getnewoneconv',{'trend':trend}) }}" loadunreadurl="{{ path("JustsyBaseBundle_enterprise_getallconvunread") }}?class=conv&trend={{trend}}">全部</li>
          {%if app.user.IsExistsFunction("OFFICIAL_RELEASE_VIEW")%}
          <li id="two2" onClick="setDisplayTab(this)" gettopurl="{{path('JustsyBaseBundle_enterprise_gettopconv')}}?class=official&network_domain={{curr_network_domain}}&trend={{trend}}" loadurl="{{ path('JustsyBaseBundle_enterprise_getallconv',{'class':'official','trend':trend}) }}" onpublishurl="{{ path('JustsyBaseBundle_component_cdisparea_getnewoneconv',{'trend':trend}) }}" loadunreadurl="{{ path("JustsyBaseBundle_enterprise_getallconvunread") }}?class=official&trend={{trend}}">官方</li>
          {%endif%}
          <li id="two3" onClick="setDisplayTab(this)" gettopurl="{{path('JustsyBaseBundle_enterprise_gettopconv')}}?class=ask&network_domain={{curr_network_domain}}&trend={{trend}}" loadurl="{{ path('JustsyBaseBundle_enterprise_getallconv',{'class':'ask','trend':trend}) }}" onpublishurl="{{ path('JustsyBaseBundle_component_cdisparea_getnewoneconv',{'trend':trend}) }}" loadunreadurl="{{ path("JustsyBaseBundle_enterprise_getallconvunread") }}?class=ask&trend={{trend}}">问答</li>
          <li id="two4" onClick="setDisplayTab(this)" gettopurl="{{path('JustsyBaseBundle_enterprise_gettopconv')}}?class=together&network_domain={{curr_network_domain}}&trend={{trend}}" loadurl="{{ path('JustsyBaseBundle_enterprise_getallconv',{'class':'together','trend':trend})}}" onpublishurl="{{ path('JustsyBaseBundle_component_cdisparea_getnewoneconv',{'trend':trend}) }}" loadunreadurl="{{ path("JustsyBaseBundle_enterprise_getallconvunread") }}?class=together&trend={{trend}}">活动</li>
          <li id="two5" onClick="setDisplayTab(this)" gettopurl="{{path('JustsyBaseBundle_enterprise_gettopconv')}}?class=vote&network_domain={{curr_network_domain}}&trend={{trend}}" loadurl="{{ path('JustsyBaseBundle_enterprise_getallconv',{'class':'vote','trend':trend}) }}" onpublishurl="{{ path('JustsyBaseBundle_component_cdisparea_getnewoneconv',{'trend':trend}) }}" loadunreadurl="{{ path("JustsyBaseBundle_enterprise_getallconvunread") }}?class=vote&trend={{trend}}">投票</li>
          <li id="two6" onClick="setDisplayTab(this)" gettopurl="{{path('JustsyBaseBundle_enterprise_gettopconv')}}?class=trend&network_domain={{curr_network_domain}}&trend={{trend}}" loadurl="{{ path('JustsyBaseBundle_enterprise_getallconv',{'class':'trend','trend':trend}) }}" onpublishurl="{{ path('JustsyBaseBundle_component_cdisparea_getnewoneconv',{'trend':trend}) }}" loadunreadurl="{{ path("JustsyBaseBundle_enterprise_getallconvunread") }}?class=trend&trend={{trend}}">动态</li>
        </ul>
    </div>
    <div class="contentbox">
      <div id="con_two1" type='conv' class="display_con_area hover"></div>
      <div id="con_two2" type='official' class="display_con_area" style="display:none"></div>
      <div id="con_two3" type='ask' class="display_con_area" style="display:none"></div>
      <div id="con_two4" type='together' class="display_con_area" style="display:none"></div>
      <div id="con_two5" type='vote' class="display_con_area" style="display:none"></div>
      <div id="con_two6" type='trend' class="display_con_area" style="display:none"></div>
    </div>
    <script type="text/javascript">
    var manager_trend='{{trend}}';
      $(document).ready(function() {
        {%if(EN_CIRCLE_VIEW)%}
        setDisplayTab(document.getElementById("two1"));
        window.OnPublished = EnterpriseHome_OnPublished;
        $(window).scroll(EnterpriseHome_Document_OnScroll);
        window.setTimeout(EnterpriseHome_GetConvUnreadCount_Timeout, 1000*60);
        {%endif%}
        //判断是否第一次登录，是则加载向导
        //var firstlogintime="{{app.user.prev_login_date}}";
        //if(firstlogintime=="null" || firstlogintime=="")
        //{
            //LoadFirstWizard("{{ path('JustsyBaseBundle_account_updateLastLogintime') }}");            
            //更新用户第一次访问时间
            //updateLastLogintimeUrl = "{{ path('JustsyBaseBundle_account_updateLastLogintime') }}";
            //updateLastLogintime();
        //}
        
        {#
        {% if this.needTipDownload() %}
        //是否需要显示下载提示
        window.setTimeout(function () {
          $.get("{{ path("JustsyBaseBundle_enterprise_gettipdownload", {'network_domain' : curr_network_domain}) }}", function (data) {
            var $tiphtml = $(data);
            var menupcoffset = $(".menu-pc").offset();
            $tiphtml.first("#tip_download").css("left", menupcoffset.left + 183).css("top", menupcoffset.top - 205);
            $("body").append($tiphtml);
            $(document).scrollTop(menupcoffset.top - 205 - 200);
          })
        }, 3000);
        {% endif %}
        #}
      });   
    </script>
  </div>
{% endblock %}

{% block main_content_right %}
<script type="text/javascript">
$(document).ready(function () {
  $(".homeright").load("{{ path("JustsyBaseBundle_enterprise_right", {'network_domain' : curr_network_domain}) }}");
  {%if(app.user.IsFunctionRosterInvite() and curr_network_domain!="10000")%}
  $("#invite_area_list").load("{{ path("JustsyBaseBundle_enterprise_staff_invite", {'network_domain' : curr_network_domain}) }}");
  {%endif%}
}); 
</script>  
{% endblock %}