{% extends 'JustsyBaseBundle::master3c.html.twig' %}

{% block main_content_left %}
{% render "JustsyBaseBundle:CPerBaseInfo:index" with {"name" : "foo"} %}
{% include 'JustsyBaseBundle:EnterpriseHome:leftmenu.html.twig' with {'network_domain' : curr_network_domain, 'curr_sel_leftmenu' : '2'} %}
<div class="menuother">提到我的</div>
<ul class="left-menu">
		<li>
			<a href="?conv_type=all">
  			<i class="menu-allinfo"></i>全部信息
			</a>
		</li>
		<li>
			<a href="?conv_type=00">
  			<i class="menu-news"></i>动态
			</a>
		</li>
		<li>
			<a href="?conv_type=01">
  			<i class="menu-comment"></i>评论
			</a>
		</li>
</ul>
{% endblock %}

{% block main_content_center %}
<div style="width:100%">
	<span style="display: inline-block;"><h3 class="bigtitletext">@提到我的</h3></span>
	<span style="display: inline-block;"><h4 class="smalltitletext">-</h4></span>
	<span style="display: inline-block;"><h4 class="smalltitletext">{{ this.conv_type == "00" ? "动态" : (this.conv_type == "01" ? "评论" : "全部信息") }}</h4></span>
  <div style="float: right; margin-top: 10px;">
    <form action="?conv_type={{ this.conv_type }}">
  	<input type="text" name="q" value="{{ this.q }}" placeholder="搜索作者、内容" style="clear: both; width: 120px; margin: 0px; height: 14px;">
  	<input type="submit" value="搜索" class="comenter" style="width:58px;">
  	</form>
  </div>
</div>
<hr style="margin: 0px; width: 100%;">
<div id="content_container" class="contentbox">
    {% if this.recordcount == 0 %}
  <br/><p>好像还没有人提到您呢！</p><p>快去联系你的朋友，开始精彩的互动人生吧！</p>
    {% else %}
    	{% render 'JustsyBaseBundle:CDisplayArea:getConv' with {'conv_root_ids': this.conv_root_ids,'trend':trend} %}
    {% endif %}
</div>
{% if this.recordcount > 0 %}
<div class="pagination pagination-right">
  <ul>
    {% set pagenum = ((this.recordcount - 1) / this.pagesize + 1 - 0.5)|number_format %}
    {% for i in 1..pagenum if loop.index0 < 10 %}
    <li {{ this.pageindex == i ? 'class="active"' : ''}}><a href="?conv_type={{ this.conv_type }}&pageindex={{ i }}&q={{ this.q }}">{{ i }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<script type="text/javascript">
$('input[placeholder]').placeholder();
</script>
{% endblock %}

{% block main_content_right %}
<div class="rightbox">
  <div class="rightbox-title">
    <span class="titletext">粉丝 (<span id="_attentionmecount">0</span>)</span>
  </div>
  <div>
    {% render "JustsyBaseBundle:EmployeeCard:queryAttentionThis" with {"account" : app.user.username, topCount:-1} %}
  </div>
</div>
<div class="rightbox">
  <div class="rightbox-title">
    <span class="titletext">正在关注 (<span id="_meattentioncount">0</span>)</span>
  </div>
  <div>
    {% render "JustsyBaseBundle:EmployeeCard:queryAttention" with {"account" : app.user.username, topCount:-1} %}
  </div>
</div>
<script type="text/javascript">
      $(document).ready(function() {
          $("#_meattentioncount").text( $("#meattentioncount").text());
          $("#_attentionmecount").text( $("#attentionmecount").text());
      });
</script>
{% endblock %}