
<!--footer开始 -->
<div class="footer">
	<div class="footer-content clearfix">
		<div class="foot-menu">
			<p>
				<a href="{{path('JustsyBaseBundle_newlogin')}}">网站首页</a>&nbsp;|&nbsp;
				<a href="{{path('JustsyBaseBundle_pub_corp')}}" target="_blank">商务合作</a>&nbsp;|&nbsp;
				<a href="{{path('JustsyBaseBundle_pub_jobs')}}" target="_blank">招贤纳士</a>&nbsp;|&nbsp;
				<a href="{{path('JustsyBaseBundle_pub_license')}}" target="_blank">服务条款</a>&nbsp;|&nbsp;
				<a href="{{path('JustsyBaseBundle_pub_abouts')}}" target="_blank">关于我们</a>&nbsp;|&nbsp;
				<a href="{{path('JustsyBaseBundle_pub_contact')}}" target="_blank">联系我们</a>
			</p>
		</div>
		<div class="copyright"> Copyright © 2013-2014 www.wefafa.com 版权所有&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn/"  target="_blank">京ICP备12029244号</a>&nbsp;&nbsp;<a href="javascript:void(0)">京公网安备11010502022631</a></div>
	</div>  
</div>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8f1d869f26870f5d4f44bd41943ae1a2' type='text/javascript'%3E%3C/script%3E"));
</script>