<!DOCTYPE html>
<!-- saved from url=(0037)https://www.wefafa.com/home?p=feature -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
	<meta charset="utf-8">
	<title>服务条款——Wefafa移动应用平台</title>
<meta name="keywords" content="企业移动应用平台，移动开发平台，企业移动门户，移动信息化，移动信息化，移动中间件，企业移动互联，大数据，移动OA，移动CRM，Wefafa"/>
<meta name="description" content="Wefafa移动应用平台，是一个集企业移动门户、快速开发平台和大数据消息网关于一体，帮助企业快速实现原有信息系统的移动化升级，助力企业低成本进入移动互联网时代的移动技术平台。Wefafa拥有国内目前唯一支持企业原有信息系统在保持私网IP、内网部署的物理安全环境中，仍然能够实现移动化访问的专利技术方案"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/fafatimewebase/css/index.css')}}" media="all" />
	<link rel="shortcut icon" href="{{ asset('bundles/fafatimewebase/images/favicon.ico')}}" />
	<script type="text/javascript" src="{{ asset('bundles/fafatimewebase/js/jquery.js')}}"></script>
<script type="text/javascript">
$(document).ready(function(){
	var topMain=$("#features_ad").height()//是头部的高度加头部与nav导航之间的距离
	var feanav=$(".features_nav");
	var feaw=$(".feawrap");
	$(window).scroll(function(){
		if ($(window).scrollTop()>topMain){//如果滚动条顶部的距离大于topMain则就nav导航就添加类.nav_scroll，否则就移除
			feaw.addClass("feawrap_scroll");
			feanav.addClass("feanav_scroll");
		}else{
			feaw.removeClass("feawrap_scroll");
			feanav.removeClass("feanav_scroll");
		}
	});
})
</script>
</head>
<body screen_capture_injected="true">
<div class="nav clearfix" id="featop">
	<div class="nav-content">
		<h1 class="left" href="javascript:;"></h1>
		
		<div class="right line-li" style="display:none">
			<ul>
				<li><a href="{{path('JustsyBaseBundle_newlogin')}}" >首页</a></li>
                <li><a href="{{path('JustsyBaseBundle_newlogin')}}?p=feature">功能</a></li>
                <li><a href="{{path('JustsyBaseBundle_newlogin')}}?p=case">案例</a></li>
				<li><a href="{{path('JustsyBaseBundle_newlogin')}}?p=download">下载</a></li>
				<li class="we_btn"><a href="{{path('JustsyBaseBundle_default')}}">登录</a></li> 
<!--				<li><a href="reg.html">注册</a></li>
					<else/>
                <li><a href="{weixin::U('User/Index/index')}">管理中心</a></li>
				<li><a href="/javascript:;" onClick="Javascript:window.open('{weixin::U('System/Admin/logout')}','_blank')" >退出</a></li>
				</if>	
-->                
			</ul>
		</div>
	</div>
</div>
	<div class="intro6" style="margin-left:auto;margin-right:auto;">
		<ul>
		<h1 class="int_h1">Wefafa服务条款</h1><br>
			<li><h3>一、总则</h3>
<p>1.1	用户应当同意本协议的条款并按照页面上的提示完成全部的注册激活程序。用户激活后即表示用户与Wefafa达成协议，完全接受本协议项下的全部条款。作伙伴提供的信息。</p>
<p>
1.2	用户注册成功后，其所使用的注册邮箱或手机号即为其用户账号。该用户帐号及其在注册时设置的密码由用户负责保管；用户应当对以该用户帐号进行的所有活动和事件负法律责任。作伙伴提供的信息。</p>
<p>
1.3	用户可以使用Wefafa的各个模块的单项服务，当用户使用Wefafa各单项服务时，用户的使用行为视为其对该单项服务中发出的各类公告的同意。作伙伴提供的信息。</p>
<p>
1.4	Wefafa会员服务协议以及各个模块单项服务条款和公告可由Wefafa随时更新，且无需另行通知。用户在使用相关服务时,应关注并遵守其所适用的相关条款。作伙伴提供的信息。</p>
<p>
用户在使用Wefafa提供的各项服务之前，应仔细阅读本服务协议。如不同意本服务协议及/或随时对其的修改，用户可以主动停止使用Wefafa提供的服务；用户一旦使用Wefafa服务，即视为已了解并完全同意本服务协议各项内容，包括Wefafa对服务协议随时所做的任何修改。作伙伴提供的信息。</p>
<p>
Wefafa有权随时根据有关法律、法规的变化以及公司经营状况和经营策略的调整等对本协议进行修改，而无需另行单独通知用户。修改后的协议会在Wefafa（www.wefafa.com）上公布。用户可随时通过Wefafa浏览最新服务协议条款。当发生有关争议时，以最新的协议文本为准。如用户不同意Wefafa对本协议相关条款所做的修改，有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受Wefafa对本协议相关条款所做的修改。作伙伴提供的信息。</p>
<h3>二、注册信息和隐私保护</h3>
<p>2.1	用户应提供及时、详尽及准确的个人资料，并在工作变动、个人信息变动等关键时刻更新个人信息，使得自己的个人资料符合及时、详尽准确的要求。所有原始键入的资料将引用为注册资料。如果因注册信息不真实而引起的问题，并对问题所带来的后果，Wefafa不负任何责任。Wefafa因经营或法律法规遵从需要，有权停止用户的Wefafa帐号。</p>
<p>2.2	用户不应将其帐号、密码转让或出借予他人使用。如用户发现其帐号遭他人非法使用，应立即通知Wefafa。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，Wefafa不承担任何责任。</p>
<p>2.3	用户理解并接受Wefafa提供的服务中可能包括广告， 用户同意Wefafa有权在提供网络服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息（包括但不限于在Wefafa的任何页面上投放广告）。并且，用户同意接受Wefafa通过电子邮件、手机短信或其他方式向用户发送服务更新或其他相关商业信息。用户同意在使用过程中Wefafa通过各种通知方式（包括但不限于各网站第三方API接口提供的通知、私信、公告以及电子邮件等）显示Wefafa和第三方供应商或合作伙伴提供的信息。</p>
<p>2.4	Wefafa不对外公开或向第三方提供单个用户的注册资料，除非：</p>
<p>（1）事先获得用户的明确授权；</p><p>
（2）只有透露用户的个人资料，才能提供用户所要求的产品和服务；</p><p>
（3）根据有关的法律法规要求；</p><p>
（4）按照相关政府主管部门的要求；</p><p>
（5）为维护Wefafa的合法权益。</p><p>
2.5	Wefafa可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与Wefafa同等的保护用户隐私的责任，则Wefafa有权将用户的包括但不限于注册资料、简历、名片、人脉信息等信息提供给该第三方。</p><p>
2.6	在不透露单个用户隐私资料的前提下，Wefafa有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p><p>
2.7	用户注册Wefafa帐户，使用其他Wefafa产品或服务，访问Wefafa网页, 或参加促销和有奖游戏时，Wefafa会收集用户个人身份识别资料，并会将这些资料用于：改进为用户提供的服务及网页内容。</p><p>
2.8	尽管Wefafa已作好了全面的安全防范措施后，以下情况仍然有可能发生，例如某一第三方躲过了我们的安全措施并进入我们的数据库，查找到用户的简历及其各种相关信息。Wefafa认为在用户把自己的各种相关信息放入我们的数据库时，用户已经意识到了这种风险的存在，并同意承担这样的风险。对于因此而引起的任何法律纠纷，Wefafa不承担任何法律责任。</p><p>
2.9 关于隐私的保护</p><p>
Wefafa为用户的个人信息提供多种维度的控制权限，这些控制权限可以控制用户的个人资料及其发布各种相关信息可以被什么样的人通过什么样的方法浏览。Wefafa仅保证在前台的控制权限是真实有效的，因为用户对控制权限的理解失误或者错误操作带来的个人资料及其各种相关信息泄露，Wefafa不承担任何法律责任。</p>
<h3>三、使用规则</h3>
<p>3.1	用户在使用Wefafa服务时，必须遵守中华人民共和国相关法律法规的规定，用户应同意不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为：</p><p>
　　 3.1.1上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息（包括但不限于图片、文字、视频、链接、音乐等）：</p><p>
　　 1） 反对宪法所确定的基本原则的；</p><p>
　　 2） 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p><p>
　　 3） 损害国家荣誉和利益的；</p><p>
　　 4） 煽动民族仇恨、民族歧视、破坏民族团结的；</p><p>
　　 5） 破坏国家宗教政策，宣扬邪教和封建迷信的；</p><p>
　　 6） 散布谣言，扰乱社会秩序，破坏社会稳定的；</p><p>
　　 7） 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p><p>
　　 8） 侮辱或者诽谤他人，侵害他人合法权利的；</p><p>
　　 9） 含有虚假、欺诈、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、与公序良俗不符或其它道德上令人反感的内容；</p><p>
　　 10） 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；</p><p>
　　 3.1.2不得为任何非法目的而使用网络服务系统；不得恶意注册Wefafa账号；</p><p>
　　 3.1.3不利用Wefafa服务从事以下活动：</p><p>
　　 1) 未经书面允许，进入计算机信息网络或者使用计算机信息网络资源的；</p><p>
　　 2) 未经书面允许，对计算机信息网络功能进行删除、修改或者增加的；</p><p>
　　 3) 未经书面允许，进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</p><p>
　　 4) 故意制作、传播计算机病毒（包括木马）等破坏性程序，盗取其他用户账户、密码、隐私、操控他人电脑的；</p><p>
　　 5) 其他危害计算机信息网络安全的行为。</p><p>
　　 3.1.4不得未经书面允许，利用Wefafa从事广告发布、变相广告、口碑营销、产品销售、传销等行为。</p><p>
3.2	用户违反本协议或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费、诉讼费，以及行政机关依法对Wefafa进行的任何罚款，用户同意为Wefafa在任何场合澄清事实，挽回声誉，并赔偿Wefafa及合作公司、关联公司因用户违反本协议或相关的服务条款的规定而遭受的全部损失，同时，Wefafa会遵从司法部门的要求，协助调查，公布用户相应的信息、资料及设有隐私保护的内容。对此，Wefafa有权视用户的行为性质，采取包括但不限于删除用户发布信息内容、暂停使用许可、终止服务、限制使用、回收Wefafa帐号、追究法律责任等措施。</p><p>
3.3	用户不得对Wefafa相关服务任何部分或本服务之使用或获得，进行复制、拷贝、出售、转售或用于任何其它商业目的。</p><p>
3.4用户须对自己在使用Wefafa服务过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在Wefafa首先承担了因用户行为导致的行政处罚或侵权损害赔偿责任后，用户应给予Wefafa等额的赔偿。</p><p>
3.5	用户充分了解并同意，Wefafa为用户提供职场相关信息分享、传播及获取的平台，用户必须为自己注册帐户下的一切行为负责，包括用户所发表的任何内容以及由此产生的任何结果。用户应对Wefafa中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险。Wefafa无法且不会对因用户行为而导致的任何损失或损害承担责任。</p>
<h3>四、服务内容</h3>
<p>4.1	Wefafa网络服务的具体内容由Wefafa根据实际情况提供。</p><p>
4.2	除非本服务协议另有其它明示规定，Wefafa所推出的新产品、新功能、新服务，均受到本服务协议之规范。</p><p>
4.3	为使用本服务，用户必须能够自行经有法律资格对用户提供互联网接入服务的第三方，进入国际互联网，并应自行支付相关服务费用。此外，用户必须自行配备及负责与国际联网连线所需之一切必要装备，包括计算机、数据机或其它存取装置。</p><p>
4.4	鉴于网络服务的特殊性，用户同意Wefafa有权不经事先通知，随时变更、中断或终止部分或全部的网络服务（收费网络服务的终止会事先通知，通知期满，Wefafa有权中断该服务并不因此承担任何责任）。基于互联网的特殊性，Wefafa对由于政府禁令、现行生效的适用法律或法规的变更、火灾、地震、动乱、战争、停电、通讯线路中断、黑客攻击、计算机病毒侵入或发作、电信部门技术调整、因政府管制而造成网站的暂时性关闭等任何影响网络正常运营的不可预见、不可避免、不可克服和不可控制的事件（“不可抗力事件”），以及他人蓄意破坏、Wefafa工作人员的疏忽或不当使用，正常的系统维护、系统升级，或者因网络拥塞而导致本网站不能访问而造成的本网站所提供的信息及数据的延误、停滞或错误，以及使用者由此受到的一切损失不承担任何责任。 </p><p>
4.5	Wefafa需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成网络服务（包括收费网络服务）在合理时间内的中断，Wefafa无需为此承担任何责任。Wefafa保留不经事先通知为维修保养、升级或其它目的暂停本服务任何部分的权利。</p><p>
4.6	Wefafa上可能存在第三人发布、上载的与其它国际互联网上之网站或资源之链接。由于Wefafa无法控制这些网站及资源，用户在此了解并同意，此类网站或资源是否可供利用，Wefafa不予负责，存在或源于此类网站或资源之任何内容、广告、产品或其它资料，Wefafa亦不予保证或负责。因使用或依赖任何此类网站或资源发布的或经由此类网站或资源获得的任何内容、商品或服务所产生的任何损害或损失，Wefafa不承担任何责任。</p><p>
4.7	用户明确同意其使用Wefafa网络服务所存在的风险将完全由其自己承担。用户理解并接受下载或通过Wefafa服务取得的任何信息资料取决于用户自己，并由其承担系统受损、资料丢失以及其它任何风险。</p><p>
4.8	Wefafa会尽力使得所提供的信息（包括但不限于个人信息、公司信息、动态信息等）的完整和准确，但是受到信息变动的影响，Wefafa对在用户得到的任何信息的真实准确性，都不作担保。</p><p>
4.9	如用户注册的免费网络服务的帐号在任何连续90日内未实际使用，或者用户注册的收费网络服务的帐号在其订购的收费网络服务的服务期满之后连续180日内未实际使用，则Wefafa有权删除该帐号并停止为该用户提供相关的网络服务。</p><p>
4.10	Wefafa有权于任何时间暂时或永久修改或终止本网站提供的服务（或其任何部分），而无论其通知与否，Wefafa对用户和任何第三人均无需承担任何责任。</p><p>
4.11用户同意Wefafa得基于其自行之考虑，因任何理由，包含但不限于长时间未使用，或Wefafa认为用户已经违反本服务协议的文字及精神，终止用户的密码、帐号或服务之使用（或服务之任何部分），并将用户在本服务内任何内容加以移除并删除。用户同意依本服务协议任何规定提供之服务，Wefafa无需进行事先通知即可中断或终止，用户承认并同意，Wefafa可立即关闭或删除用户的帐号及帐号中所有相关信息及文件，及/或禁止继续使用前述文件或服务。此外，用户同意若本服务之使用被中断或终止或用户的帐号及相关信息和文件被关闭或删除，Wefafa对用户或任何第三人均不承担任何责任。</p>
<h3>五、知识产权和其他合法权益（包括但不限于名誉权、商誉权、肖像权）</h3>
<p>5.1	用户专属权利</p><p>
Wefafa尊重他人知识产权和合法权益，呼吁用户也要同样尊重知识产权和他人合法权益。用户不得上传任何侵犯Wefafa或任意第三方合法权利的作品，否则一切后果由用户自行承担。
若您认为您的知识产权或其他合法权益被侵犯，请按照以下说明向Wefafa提供资料∶</p><p>
请注意：如果权利通知的陈述失实，权利通知提交者将承担对由此造成的全部法律责任（包括但不限于赔偿金及律师费、诉讼费）。如果上述个人或单位不确定网络上可获取的资料是否侵犯了其知识产权和其他合法权益，Wefafa建议该个人或单位首先咨询专业人士。</p><p>
为了Wefafa有效处理上述个人或单位的权利通知，请使用以下格式（包括各条款的序号）：</p><p>
　　 1. 权利人对涉嫌侵权内容拥有知识产权或其他合法权益和/或依法可以行使知识产权或其他合法权益的权属证明；</p><p>
　　 2. 请充分、明确地描述被侵犯了知识产权或其他合法权益的情况并请提供涉嫌侵权的第三方网址（如果有）。</p><p>
　　 3. 请指明涉嫌侵权网页的哪些内容侵犯了第2项中列明的权利。</p><p>
　　 4. 请提供权利人具体的联络信息，包括姓名、身份证或护照复印件（对自然人）、单位登记证明复印件（对单位）、通信地址、电话号码、传真和电子邮件。</p><p>
　　 5. 请提供涉嫌侵权内容在信息网络上的位置（如指明您举报的含有侵权内容的出处，即：指网页地址或网页内的位置）以便我们与您举报的含有侵权内容的网页的所有权人/管理人联系。</p><p>
　　 6. 请在权利通知中加入如下关于通知内容真实性的声明： “我保证，本通知中所述信息是充分、真实、准确的，如果本权利通知内容不完全属实，本人将承担由此产生的一切法律责任。”</p><p>
　　 7. 请您签署该文件，如果您是依法成立的机构或组织，请您加盖公章。</p><p>
　　 请您把以上资料和联络方式书面发往以下地址：</p><p>
　　　　  中国北京市朝阳区东三环南路19号联合国际大厦甲727室</p><p>
　　　　  Wefafa　运营部</p><p>
　　　　  邮编：100021</p><p>
5.2	对于用户通过Wefafa服务上传到Wefafa网站上可公开获取区域的任何内容，用户同意Wefafa在全世界范围内具有免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。</p><p>
5.3	Wefafa拥有本网站内所有资料的版权。任何被授权的浏览、复制、打印和传播属于本网站内的资料必须符合以下条件：</p><p>
所获得的所有资料和图象均以获得信息为目的；</p><p>
所获得的所有资料和图象均不得用于商业目的；</p><p>
所获得的所有资料、图象及其任何部分都必须包括此版权声明；</p><p>
用户所使用的非本网站（www.wefafa.com）所有的产品、技术、程序、设计、创意、网站页面、活动、LOGO、图像、视听资料未注明知识产权所有人的，其知识产权均完整、排他的属于Wefafa所有，用户的任何使用行为（包括但不限于浏览、复制、下载、打印、传播等），并不构成Wefafa对知识产权的任何授权。</p><p>
“Wefafa”及相关图形或文字、图形的组合等为Wefafa的注册商标。</p><p>
未经Wefafa书面许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载、下载）使用。否则，Wefafa将依法追究其法律责任。</p>
<h3>六、其他</h3>
<p>6.1	本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。</p><p>
6.2	如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向Wefafa所属公司所在地的人民法院提起诉讼。</p><p>
6.3	Wefafa未行使或执行本服务协议任何权利或规定，不构成对前述权利或权利之放弃。</p><p>
6.4	如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p><p>
 </p><p>
请您在发现任何违反本服务协议以及其他任何单项服务的服务条款、Wefafa各类公告之情形时，通知Wefafa。您可以通过如下联络方式同Wefafa联系∶</p><p>
　　 电话：010-87665176</p><p>
　　 Email：service@wefafa.com</p><p>
　　 通讯地址：</p><p>
　　 中国北京市朝阳区东三环南路19号联合国际大厦甲727室</p><p>
　　 Wefafa　运营部</p><p>
　　 邮编：100021</p><p></p>
</li>
		</ul>
   	</div>
</div>


{% render "JustsyBaseBundle:Home:footer"%}
</body></html>