<h5>业务数据多种组合体展示</h5>
<p>通过消息推送接口，可推送多种格式的消息及交互式消息。</p>
<image style="width:450px;" src="{{asset('bundles/fafatimewebase/images/webiz_3.png')}}"/>
<image style="height:336px;" src="{{asset('bundles/fafatimewebase/images/webiz_4.png')}}"/>
<h5>菜单设计样例</h5>
<p>通过业务代理配置定制微应用菜单，每项菜单可对应一个业务系统接口或一个插件入口。</p>
<image style="width:450px;" src="{{asset('bundles/fafatimewebase/images/webiz_5.png')}}"/>
<h5>微应用 通用模式样例</h5>
<p>通过业务代理配置定制业务场景，调用业务系统接口完成与业务系统交互。</p>
<image style="width:450px;" src="{{asset('bundles/fafatimewebase/images/webiz_6.png')}}"/>
<h5>微应用 HTML插件 CRM微应用样例</h5>
<p>通过定制HTML5插件，并在业务代理完成配置，该插件实现了CRM系统的客户管理、销售管理、销售报表等功能。</p>
<image style="height:250px;" src="{{asset('bundles/fafatimewebase/images/webiz_7.png')}}"/>
<image style="height:250px;" src="{{asset('bundles/fafatimewebase/images/webiz_8.png')}}"/>
<h5>微应用 HTML插件 微考勤样例</h5>
<p>通过定制HTML5插件，并在业务代理完成配置，该插件实现了地图定位考勤、历史考勤查询等功能，并结合交互式消息完成请假审批功能。</p>
<image style="width:450px;" src="{{asset('bundles/fafatimewebase/images/webiz_9.png')}}"/>