<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wefafa，企业协作网络。</title></head>
<body>	
<div id="main_detail">
    尊敬的 {{ ename }} 管理员：
        用户 {{account}} 申请加入 {{ ename }} 企业协作网络。
     <br>        <a href="{{ activeurl }}">同意</a>&nbsp;&nbsp;<a href="{{ rejecturl }}">拒绝</a>
</div>
</body>
</html>