<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}微发发，一个由工作圈子交织而成的企业社交网络{% endblock %}</title>
<LINK rel="shortcut icon" href="{{ asset('bundles/fafatimewebase/images/favicon.ico') }}"> 
<meta name="description" content="FaFa是一个依托于强大的FaFa即时消息平台、企业开放平台基础上的面向企业用户的社交网络平台。" />
<meta name="keywords" content="FaFa,企业社交平台,企业应用中心,企业即时通讯,企业通讯软件,企业即时通讯软件,免费企业通讯软件,免费企业即时通讯,免费企业即时通讯软件" />
<link href="{{ asset('bundles/fafatimewebase/css/bootstrap.min.css')}}" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ asset('bundles/fafatimewebase/js/jquery.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/fafatimewebase/js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fafatimewebase/js/jquery.form.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fafatimewebase/js/Appcenter.js') }}"></script>
</head>
<body>
<div class="modal" id="appAuth" data-backdrop=false style="width:450px;margin-left: -225px;height:300px;margin-top: -225px;" show=false>
		    <div class="modal-header">
		    	<h5><img src='{{ asset('bundles/fafatimewebase/images/wefafa_logo.png')}}' style="width:48px;vertical-align: middle;">&nbsp;&nbsp;【{{appname}}】帐号绑定及授权</h5>  
		    </div>
		    <div class="modal-body" style="padding:1px;height:177px;line-height:177px">
	            <div style="height: 50px;line-height: 50px;padding-left: 50px;">确认将用户 <b>{{nick_name}}</b> 绑定到该系统中的以下帐号：</div>
			    	  <form target=fafaappfrm id="bindFrm" name="bindFrm" method="post" action="{{c_url }}">
			    	      <input type="hidden" id="openid" name="openid" value="{{openid}}">
			    	      <div style="height: 40px;line-height: 40px;padding-left: 100px;"><span>帐号：</span><input maxlength=32 id="account" name="account" type="text"></div>
			    	      <div style="height: 40px;line-height: 40px;padding-left: 100px;"><span>密码：</span><input maxlength=16  id="password" name="password" type="password"></div>
			    	  </form>	
			    	  <div style="height: 20px;line-height: 20px;padding-left: 100px;">我是新用户，<a target='fafaappfrm' href='javascript:void(0);' onclick='AppCenter.Cj(this)' url='{{u_url}}'>立即创建帐号</a>(创建成功后将自动绑定)</div>	    	  
		    </div>  
		    <div class="modal-footer">
		    	<img style="display:none" src="{{ asset('bundles/fafatimewebase/images/ok.png') }}" width="16" height="16">
		      <span error='{{error|raw}}' class="alert reg_alert alert-error" style="display:none">提交成功！</span>
		    	<a href="javascript:AppCenter.Bind()" class="btn btn-primary" style="color:white;">确定</a> 
		    	<!--<A class=btn href="#" data-dismiss="modal" >关闭</A>-->
		    </div>		    	   
</div>
</body>
</html>