<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wefafa移动应用平台—企业移动门户|移动开发平台|移动信息化专家</title>
<LINK rel="shortcut icon" href="{{ asset('bundles/fafatimewebase/images/favicon.ico') }}"> 
<link href="{{ asset('bundles/fafatimewebase/css/bootstrap.min.css')}}" type="text/css" rel="stylesheet">
<link href="{{ asset('bundles/fafatimewebase/css/mapphome.css')}}?t=1" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/fafatimewebase/css/index.css')}}" media="all" />

<script type="text/javascript" src="{{ asset('bundles/fafatimewebase/js/jquery.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/fafatimewebase/js/jquery-ui.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/fafatimewebase/js/bootstrap.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/fafatimewebase/js/jquery.qrcode.min.js')}}"></script>

<body> 
<div id="topnav" class="topnav">
  <div class="submenu">
  	 <div class="submenu_left" style="line-height:42px; width:auto;">
		<div class="wefafalogo">
		    <a href="#" onFocus="this.blur()" >{% render "JustsyBaseBundle:Common:getWefafaLogo" %}</a>
		</div>
		<p style="color:#fff; padding-left:80px; padding-top:8px; font-size:14px;font-family: microsoft yahei;">移动应用平台－定制App下载－{{ ename }}</p>
  	 </div>
  	 <div class="submenu_center">
    </div>   
  </div>
</div>
<div style="height: 57px;"></div>
<div id="content_template" class="homecontent">
	<div class="down_nav">
		<div class="down_navwrap">
			<div class="downnav">				
				<div class="downcon">
					<div class="downnav_2 downclass"><h1 class="downh">Android</h1><p>版本：{{ advconfig["androidversion"] }}</p><p></p></div>
					<div class="downbtn">{% if advconfig["androidapp"] is defined %}<a href="{{ FILE_WEBSERVER_URL}}{{ advconfig["androidapp"]}}"><div class="downimgclass downimg1">立即下载</div></a>{% else %}<a href="#"><div class="downimgclass downimg1" style="background: none repeat scroll 0 0 #EEEEEE;border-radius: 8px;color: #000000;cursor: not-allowed;">未发布</div></a>{% endif %}</div>
					<div class="down2code"><div id="androidqrcode"></div></div>
					<div class="downtext">
					<h2 style="color:#f7b52c; line-height:36px"></h2>
					
					</div>
				</div>
				<div class="downcon">
					<div class="downnav_3 downclass"><h1 class="downh">iOS</h1><p>版本：{{ advconfig["iosversion"] is defined ? advconfig["iosversion"] : "" }}</p><p></p></div>
					<div class="downbtn">{% if advconfig["iosapp"] is defined %}<a href="{{ FILE_WEBSERVER_URL}}{{ advconfig["iosapp"]}}"><div class="downimgclass downimg1">立即下载</div></a>{% else %}<a href="#"><div class="downimgclass downimg1" style="background: none repeat scroll 0 0 #EEEEEE;border-radius: 8px;color: #000000;cursor: not-allowed;">未发布</div></a>{% endif %}</div>
					<div class="down2code"><div id="iosqrcode"></div></div>
					<div class="downtext">
					<h2 style="color:#f7b52c; line-height:36px"></h2>
					 
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
</body>
</html>
 
<script type="text/javascript">
$(document).ready(function(){
	$('#androidqrcode').qrcode({width: 200, height: 200, render	: "table", text: "{{url('JustsyBaseBundle_mappconfig_publishportaldown', {'eno':eno})}}"});
	$('#iosqrcode').qrcode({width: 200, height: 200, render	: "table", text: "{{url('JustsyBaseBundle_mappconfig_publishportaldown', {'eno':eno})}}"});
});
</script>