{%for item in app_templates %}
     <div class="application_template_list" temptype="{{item['temp_type']}}" temp_id="{{item['temp_id']}}" onclick='AppConfigMgr.selectTemp(this)' temp_litu="{{item['temp_litu']}}">
     	  {% if item["temp_litu"] =='' %}
     	    <div style="width: 100%; height: 170px; float: left; text-align: center; border: 1px solid rgb(238, 238, 238);"><span style="float: left; display: block; width: 100%; margin-top: 60px;"> 未上传效果图 </span></div>     	    
     	  {% else %}
     	    <img src="{{item['temp_litu']}}" onerror="this.src='/bundles/fafatimewebase/images/3.jpg'"  />
     	  {% endif %}
				<span>{{item['temp_name']}}</span>
		 </div>
{% endfor %}

<script type="text/javascript">	
	var currinfo = {restype:"",id:"",pageid:"",templateid:""},configdata = {{config|raw}},currentTemplateXML = null;	
	var oneApp=new AppObj();
	var ajaxerror="";
	$(document).ready(function(){
		if ( configdata == null || configdata.length == 0)
	    $(".user_appconfig_area").html("<div onclick='XMLConfigPage.createPage()' class='application_CreateNewPage'><img src='/bundles/fafatimewebase/images/icon_add.png'><span>创建新界面</span></div>");
	 
		configpage_init();
	});	
</script>