<div type='vote' conv_id='{{ds["we_convers_list"]["rows"][0]["conv_id"]}}' top='' hide='' class="topiclayout convbox">
  <span class=" portrait"><img src="{{ ds["we_convers_list"]["rows"][0]["photo_url"] }}" onerror="this.src='{{ asset("bundles/fafatimewebase/images/no_photo.png") }}'"></span>
  <span class="topicdetail convdetail">
    <span>
      <a href="#" class="employee_name post_staffname" login_account="{{ ds["we_convers_list"]["rows"][0]["login_account"] }}">{{ ds["we_convers_list"]["rows"][0]["nick_name"] }}</a>
      <span class="fafa_level_{{css_level}} portrait_level" title="{{ds["we_convers_list"]["rows"][0]["we_level"]}} 级">{{ds["we_convers_list"]["rows"][0]["auth_level"]}}{{ds["we_convers_list"]["rows"][0]["vip_level"]}}</span>
      {% if ds["we_convers_list"]["rows"][0]["isvip"] == "1" %}<img src="{{ asset("bundles/fafatimewebase/images/vip.png") }}" title="企业邮箱用户">{% endif %}
    </span>
    <p class="vote clearfix"><span class="voteicon"></span><span class="conv_content conv_title">{{ ds["we_vote"]["rows"][0]["title"] }}</span></p>
    <p class="sponsor"><a href="#" class="employee_name post_staffname" login_account="{{ ds["we_convers_list"]["rows"][0]["login_account"] }}">{{ ds["we_convers_list"]["rows"][0]["nick_name"] }}</a>发起<i class="line">|</i>{{ ds["we_vote"]["rows"][0]["vote_user_num"] }} 人参与</p>
    {% set vote_all_num = ds["we_vote"]["rows"][0]["vote_all_num"]  == 0 ? 1 : ds["we_vote"]["rows"][0]["vote_all_num"] %}
    {% for item in ds["we_vote_option"]["rows"] %}
      {% if ds["we_vote"]["rows"][0]["is_multi"] == "0" %}
    <div class="votelist">
      <div class="progress progress-striped active" style="float: right; width: 200px; margin: 0px 10px;">
        <div class="bar bar-success" style="width: {{ item["vote_num"] / vote_all_num * 100 }}%;"></div>
      </div>
      <span style="line-height:20px;" class="votedata">{{ item["vote_num"] }} ({{ (item["vote_num"] / vote_all_num * 100) | number_format(2) }}%)</span>
      <label class="radio"><input type="radio" name="optionsRadios{{ item["vote_id"] }}" value="{{ item["option_id"] }}" style="display:{{ ds["we_vote_user"]["rows"][0]["c"] == 0 ? "block" : "none" }}">{{ item["option_desc"] }}</label>
    </div>
      {% else %}
    <div class="votelist">
      <div class="progress progress-striped active" style="float: right; width: 200px; margin: 0px 10px;">
        <div class="bar bar-success" style="width: {{ item["vote_num"] / vote_all_num * 100 }}%;"></div>
      </div>
      <span class="votedata">{{ item["vote_num"] }} ({{ (item["vote_num"] / vote_all_num * 100) | number_format(2) }}%)</span>
      <label class="checkbox"><input type="checkbox" name="optionsRadios{{ item["vote_id"] }}" value="{{ item["option_id"] }}" style="display:{{ ds["we_vote_user"]["rows"][0]["c"] == 0 ? "block" : "none" }}">{{ item["option_desc"] }}</label>
    </div>
      {% endif %}
    {% endfor %}
    <div class="voteenter">
      <input class="ht_vote_url" type="hidden" value="{{ path("JustsyBaseBundle_component_cdisparea_vote") }}">
      <input class="ht_vote_id" type="hidden" value="{{ ds["we_vote"]["rows"][0]["vote_id"] }}">
      <input class="ht_is_multi" type="hidden" value="{{ ds["we_vote"]["rows"][0]["is_multi"] }}">
      {% if ds["we_vote_user"]["rows"][0]["c"] == 0 %}
      <input name="input" type="button" class="voteinput" value="投 票" onclick="btnVote_OnClick(this)">
      {% endif %}
    </div>
    {% include 'JustsyBaseBundle:CDisplayArea:attachs.html.twig' with {'ds': ds, 'this' : this} %}
    {% include 'JustsyBaseBundle:CDisplayArea:cc.html.twig' %}
    {% include 'JustsyBaseBundle:CDisplayArea:label.html.twig' %}
  </span>
  <div class="topicfunction" style="float:left;">
    <span class="functiontext">
      {% if (ds["we_convers_list"]["rows"][0]["login_account"] == app.user.username)or (app.user.is_in_manager_circles(ds["we_convers_list"]["rows"][0]["post_to_circle"])==1) %}
      <a href="javascript:void(0);"><span onclick="DelVote(this, '{{ path("JustsyBaseBundle_component_cdisparea_delvote") }}', '{{ ds["we_convers_list"]["rows"][0]["conv_root_id"] }}', '{{ asset("bundles/fafatimewebase/images/loading.gif") }}')">删除</span></a>｜
      {% endif %}
      {%if(trend)%}
      {% if 1==0 %}
      <a href="javascript:void(0)" onclick="CopyConv_OnClick(this)" 
        copyid="{{ ds["we_convers_list"]["rows"][0]["conv_root_id"] }}" 
        circle_id="{{ ds["we_convers_list"]["rows"][0]["post_to_circle"] }}"
        group_id="{{ ds["we_convers_list"]["rows"][0]["post_to_group"] }}"
        tplurl="{{ path("JustsyBaseBundle_component_cdisparea_getcopytemplate") }}"><span >转发{%if(ds["we_convers_list"]["rows"][0]["copy_num"]>0)%}({{ ds["we_convers_list"]["rows"][0]["copy_num"]|number_format }}){%endif%}</span></a>｜
      {% endif %}
      <a href="javascript:void(0)"
      	onclick="{{ ds["we_convers_list"]["rows"][0]["atten_id"] > 0 ? "UnAttenConv_OnClick_Pc(this)" : "AttenConv_OnClick_Pc(this)" }}"
        attenid="{{ ds["we_convers_list"]["rows"][0]["conv_root_id"] }}"
        attenurl="{{ path("JustsyBaseBundle_component_cdisparea_attenconv") }}"
        unattenurl="{{ path("JustsyBaseBundle_component_cdisparea_unattenconv") }}"><span ><span class="attentext">{{ ds["we_convers_list"]["rows"][0]["atten_id"] > 0 ? "取消收藏" : "收藏" }}</span>{%if(ds["we_convers_list"]["rows"][0]["atten_num"]>0)%}(<span class="attennum">{{ ds["we_convers_list"]["rows"][0]["atten_num"]|number_format }}</span>){%endif%}</span><img class="attening" src="{{ asset("bundles/fafatimewebase/images/loading.gif") }}" style="display:none; height: 20px; width: 20px;"></a>｜
      <a href="javascript:void(0)"><span  onclick="ReplyLink_OnClick(this)">评论{%if(ds["we_convers_list"]["rows"][0]["reply_num"]>0)%}(<span class="replynum">{{ ds["we_convers_list"]["rows"][0]["reply_num"]|number_format }}</span>){%endif%}</span></a>
      {%else%}
       {% if 1==0 %}
      <a href="javascript:void(0)" title="您还未获取该功能使用权限"
        copyid="{{ ds["we_convers_list"]["rows"][0]["conv_root_id"] }}" 
        circle_id="{{ ds["we_convers_list"]["rows"][0]["post_to_circle"] }}"
        group_id="{{ ds["we_convers_list"]["rows"][0]["post_to_group"] }}"
        tplurl="{{ path("JustsyBaseBundle_component_cdisparea_getcopytemplate") }}"><span >转发{%if(ds["we_convers_list"]["rows"][0]["copy_num"]>0)%}({{ ds["we_convers_list"]["rows"][0]["copy_num"]|number_format }}){%endif%}</span></a>｜
      {% endif %}
      <a href="javascript:void(0)"  title="您还未获取该功能使用权限"
        attenid="{{ ds["we_convers_list"]["rows"][0]["conv_root_id"] }}"
        attenurl="{{ path("JustsyBaseBundle_component_cdisparea_attenconv") }}"
        unattenurl="{{ path("JustsyBaseBundle_component_cdisparea_unattenconv") }}"><span ><span class="attentext">{{ ds["we_convers_list"]["rows"][0]["atten_id"] > 0 ? "取消收藏" : "收藏" }}</span>{%if(ds["we_convers_list"]["rows"][0]["atten_num"]>0)%}(<span class="attennum">{{ ds["we_convers_list"]["rows"][0]["atten_num"]|number_format }}</span>){%endif%}</span><img class="attening" src="{{ asset("bundles/fafatimewebase/images/loading.gif") }}" style="display:none; height: 20px; width: 20px;"></a>｜
      <a href="javascript:void(0)" title="您还未获取该功能使用权限"><span  >评论{%if(ds["we_convers_list"]["rows"][0]["reply_num"]>0)%}(<span class="replynum">{{ ds["we_convers_list"]["rows"][0]["reply_num"]|number_format }}</span>){%endif%}</span></a>
      {%endif%}
    </span>
    <span style="float:left;" class="comefrom">{{ ds["we_convers_list"]["rows"][0]["post_date_d"] }}</span> 
    {% if ds["we_convers_list"]["rows"][0]["comefrom"] != "00" %}
    <span class="comefrom">来自{{ ds["we_convers_list"]["rows"][0]["comefrom_d"] }}</span>
    {% endif %}
  </div>
  {% include 'JustsyBaseBundle:CDisplayArea:reply.html.twig' with {'ds': ds, 'isask' : 0,'trend':trend} %}
</div>