{% extends 'JustsyBaseBundle:EnterpriseSetting:enterprise_master.html.twig' %}
{% block menuitemactive_basic %}class="active"{% endblock %}
{% block main_content_center%}
<style>
	table{border-color:#cccccc;}
	td{border-color:#cccccc;}
	table input[type="text"]
	{
		margin-top: 10px;
		margin-left: 5px;
	}
</style>
<div class="grade-title">接口配置</div>
<ul class="nav nav-tabs" style="border-bottom: 1px solid #ddd;height: 37px;padding-left: 25px;">
    <li class="active"><a href="#serverconfig" data-toggle="tab">接口地址</a></li>
    <li><a href="#attrmapping" data-toggle="tab">属性映射</a></li>
    <li><a href="#datasync" data-toggle="tab">数据同步</a></li>
</ul>
<div class="tab-content" style="width: 100%;background-color:#ffffff">
	<div class="tab-pane active" id="serverconfig" style="min-height: 543px;">
		<div class="ldap_div" style="margin-left: 150px; margin-top: 20px;"> 
					
			<div class="application_line" style="margin-left:0px;width:500px;height:45px;padding-left: 12px;">
				     <span style="padding-right:5px;">员工接口地址：</span>
				    <input type='text' maxlength="200"  id="staffurl" style="width:250px;"/>
			</div>
			<div class="application_line" style="margin-left:0px;width:500px;height:45px;padding-left: 12px;">
				     <span style="padding-right:5px;">JSON解析规则：</span>
				    <input type='text' maxlength="200" value="DATA"  id="staff_parserule" style="width:250px;"/>
			</div>
			<div class="application_line" style="margin-left:0px;width:500px;height:45px;padding-left: 12px;">
				     <span style="color: rgb(204, 204, 204); padding-left: 95px;">DATA：接口返回的JSON对象</span>
			</div>
			<div class="application_line" style="margin-left:0px;width:500px;height:45px;padding-left: 12px;">
				     <span style="padding-right:5px;">机构接口地址：</span>
				    <input type='text' maxlength="200"  value="DATA" id="orgurl" style="width:250px;"/>
			</div>			
			<div class="application_line" style="margin-left:0px;width:500px;height:45px;padding-left: 12px;">
				     <span style="padding-right:5px;">JSON解析规则：</span>
				    <input type='text' maxlength="200"  id="org_parserule" style="width:250px;"/>
			</div>
			<div class="application_line" style="margin-left:0px;width:500px;height:45px;padding-left: 12px;">
				     <span style="color: rgb(204, 204, 204); padding-left: 95px;">DATA：接口返回的JSON对象</span>
			</div>			
		</div>
		<div>
			<input id="saveldap" type="button" onclick="saveSyncData();" style="width:138px;margin-left:130px;" class="inputsmall" value="保存">
			<input id="teststaffldap" type="button" onclick="testStaffSyncData();" style="width:138px;margin-left:10px;" class="inputsmall" value="测试员工接口">
			<input id="testorgldap" type="button" onclick="testOrgSyncData();" style="width:138px;margin-left:10px;" class="inputsmall" value="测试组织机构接口">
		</div>
		<div style="text-align:center;margin-left: -80px;" id="testresult"></div>
	</div>
	<div class="tab-pane" id="attrmapping" style="min-height: 543px;">
		<ul class="nav nav-tabs" style="border-bottom: 1px solid #ddd;height: 37px;padding-left: 25px;margin-top: 20px;">
		    <li class="active"><a href="#employee" data-toggle="tab">人员属性映射</a></li>
		    <li><a href="#org" data-toggle="tab">部门属性映射</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="employee">
				<table border="1" width="80%" style="margin-left:70px;margin-top:20px">
					<tr style="text-align: center; background-color: rgb(243, 243, 243);"><td width="20%">属性名称</td><td width="80%">接口属性标识</td></tr>
					<tr><td>用户帐号</td><td><input id="uid" type="text" maxlength="32" size=20></td></tr>
					<tr><td>所属部门</td><td><input id="ou" type="text"  maxlength="32" size=20></td></tr>
					<tr><td>用户名称</td><td><input id="reg_name" maxlength="32" type="text" size=20></td></tr>
					<tr><td>用户密码</td><td><input id="pwd" maxlength="32" type="text" size=20></td></tr>
					<tr><td>用户邮箱</td><td><input id="email" maxlength="32" type="text" size=20></td></tr>
					<tr><td>手机号码</td><td><input id="mobile" maxlength="32" type="text" size=20></td></tr>
				</table>
				<div>
					<input id="saveemployeeattr" type="button" onclick="saveLdapStaffMapping();" style="width:138px;margin-left:260px;" class="inputsmall" value="保存">
				</div>
			</div>
			<div class="tab-pane" id="org">
				<table border="1" width="80%" style="margin-left:70px;margin-top:20px">
					<tr style="text-align: center; background-color: rgb(243, 243, 243);"><td width="20%">属性名称</td><td width="80%">接口属性标识</td></tr>
					<tr><td>部门标识</td><td><input id="uid_org" maxlength="32" type="text" size=20></td></tr>
					<tr><td>部门名称</td><td><input id="ou_org" maxlength="32" type="text" size=20></td></tr>
					<tr><td>上级部门</td><td><input id="parentdn" maxlength="32" type="text" size=20></td></tr>
					<tr><td>完整路径</td><td><input id="orgpath" maxlength="32" type="text" size=20></td></tr>
				</table>
				<div>
					<input id="saveorgattr" type="button" onclick="saveLdapOrgMapping();" style="width:138px;margin-left:260px;" class="inputsmall" value="保存">
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="datasync" style="min-height: 543px;">
		<input id="syncldap" type="button" onclick="syncLdap();" style="width:138px;margin-left:260px;margin-top: 50px;" class="inputsmall" value="用户同步">
		<input id="saveldapOrg" type="button" onclick="syncLdapOrg();" style="width:138px;margin-top: 50px;" class="inputsmall" value="组织同步">	
		<div style="text-align:center;margin-left: -80px;" id="ldaperror"></div>	
	</div>
</div>
<script language="javascript" style="text/javascript">
	var staffmapping = {{staffmapping|raw}},orgmapping={{orgmapping|raw}};
	for(var i=0; i<staffmapping.length; i++)
	{
		var wefafa_attr_code = staffmapping[i].wefafa_attr_code;
		if(wefafa_attr_code=="infurl")
		{
			$("#staff_parserule").val(staffmapping[i].parse_rule);
			wefafa_attr_code="staffurl";
		}
		$("#"+wefafa_attr_code).val(staffmapping[i].source_code);
	}
	for(var i=0; i<orgmapping.length; i++)
	{
		var wefafa_attr_code = orgmapping[i].wefafa_attr_code;
		if(wefafa_attr_code=="infurl")
		{ 
			wefafa_attr_code="orgurl";
			$("#org_parserule").val(orgmapping[i].parse_rule);
		}
		if(wefafa_attr_code=="uid" || wefafa_attr_code=="ou") wefafa_attr_code = wefafa_attr_code+"_org";
		$("#"+wefafa_attr_code).val(orgmapping[i].source_code);
	}
	$.ajaxSetup({
		error: function(x, e) {
			if($("#syncldap").attr("loading")=="1")
			{
				$("#syncldap").attr("loading","0");
				//syncLdap();
			}
			if($("#saveldapOrg").attr("loading")=="1")
			{
				$("#saveldapOrg").attr("loading","0");
				//syncLdapOrg();
			}
		}
	});
	function testStaffSyncData()
	{
		if($("#teststaffldap").attr("loading")=="1")return;
		$("#testresult").html("");
		$.post("{{path('JustsyOpenAPIBundle_api_sync_user_byinf')}}",{eno:"{{app.user.eno}}","istest":"1"},function(d){
			$("#teststaffldap").attr("loading","0");
			$("#teststaffldap").val("测试员工接口");
			if(d.returncode=='0000'){				
			}
			else{
				if(d.msg.length>0){
					for(var i=0; i<d.msg.length; i++)
						$("#testresult").append("<br>"+ d.msg[i]);
				}
			}
		});
		$("#teststaffldap").attr("loading","1");
		$("#teststaffldap").val("获取数据...");		
	}

	function testOrgSyncData()
	{
		if($("#testorgldap").attr("loading")=="1")return;
		$("#testresult").html("");
		$.post("{{path('JustsyOpenAPIBundle_api_sync_org_byinf')}}",{eno:"{{app.user.eno}}","istest":"1"},function(d){
			$("#testorgldap").attr("loading","0");
			$("#testorgldap").val("测试组织机构接口");
			if(d.returncode=='0000'){				
			}
			else{
				if(d.msg.length>0){
					for(var i=0; i<d.msg.length; i++)
						$("#testresult").append("<br>"+ d.msg[i]);
				}
			}
		});
		$("#testorgldap").attr("loading","1");
		$("#testorgldap").val("获取数据...");		
	}	
	function saveSyncData(){
		if($("#saveldap").attr("loading")=="1")return;
		var params={
			staffurl:$("#staffurl").val(),
			orgurl:$("#orgurl").val(),
			staff_parserule:$("#staff_parserule").val(),
			org_parserule:$("#org_parserule").val()
		};
		$("#saveldap").val("保存中...");
		$("#saveldap").attr("loading","1");		
		$("#testresult").html("");
		$.post("{{path('JustsyBaseBundle_syncstafforg_save')}}",params,function(d){
			$("#saveldap").val("保存");
			$("#saveldap").attr("loading","0");
			if(d.s=='1'){
				$("#ldaperror").css("color","#059BC6").text("保存成功");
				setTimeout(function(){
					$("#ldaperror").text("");
				},3000);
			}
			else{
			}
		});
	}

	function saveLdapStaffMapping()
	{
		var btn = $("#saveemployeeattr");
		if(btn.attr("loading")=="1")return;
		var params={
			uid:$("#uid").val(),
			ou:$("#ou").val(),
			reg_name:$("#reg_name").val(),
			email:$("#email").val(),
			mobile:$("#mobile").val(),
			pwd:$("#pwd").val(),
			action:"staffmapping"
		};
		btn.val("保存中...");
		btn.attr("loading","1");
		$.post("{{path('JustsyBaseBundle_syncstafforg_save')}}",params,function(d){
			btn.val("保存");
			btn.attr("loading","0");
			if(d.s=='1'){
				$("#ldaperror").css("color","#059BC6").text("保存成功");
				setTimeout(function(){
					$("#ldaperror").text("");
				},3000);
			}
			else{
			}
		});		
	}

	function saveLdapOrgMapping()
	{
		var btn = $("#saveorgattr");
		if(btn.attr("loading")=="1")return;
		var params={
			uid:$("#uid_org").val(),
			ou:$("#ou_org").val(),
			parentdn:$("#parentdn").val(),
			orgpath:$("#orgpath").val(),
			action:"orgmapping"
		};
		btn.val("保存中...");
		btn.attr("loading","1");
		$.post("{{path('JustsyBaseBundle_syncstafforg_save')}}",params,function(d){
			btn.val("保存");
			btn.attr("loading","0");
			if(d.s=='1'){
				$("#ldaperror").css("color","#059BC6").text("保存成功");
				setTimeout(function(){
					$("#ldaperror").text("");
				},3000);
			}
			else{
			}
		});		
	}
	function syncLdap()
	{
		if($("#syncldap").attr("loading")=="1")return;
		$("#ldaperror").html("");
		$.post("{{path('JustsyOpenAPIBundle_api_sync_user_byinf')}}",{eno:"{{app.user.eno}}"},function(d){
			$("#syncldap").attr("loading","0");
			$("#syncldap").val("用户同步");
			if(d.returncode=='0000'){
			}
			else{
				if(d.msg.length>0){
					for(var i=0; i<d.msg.length; i++)
						$("#ldaperror").append("<br>"+ d.msg[i]);
				}
			}
		});
		$("#syncldap").attr("loading","1");
		$("#syncldap").val("同步...");
	}

	function syncLdapOrg()
	{
		if($("#saveldapOrg").attr("loading")=="1")return;
		$("#ldaperror").html("");
		$.post("{{path('JustsyOpenAPIBundle_api_sync_org_byinf')}}",{eno:"{{app.user.eno}}"},function(d){
			$("#saveldapOrg").attr("loading","0");
			$("#saveldapOrg").val("组织同步");
			if(d.returncode=='0000'){
			}
			else{
				if(d.msg.length>0){
					for(var i=0; i<d.msg.length; i++)
						$("#ldaperror").append("<br>"+ d.msg[i]);
				}
			}
		});
		$("#saveldapOrg").attr("loading","1");
		$("#saveldapOrg").val("同步...");
	}
</script>
{% endblock %}