<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FaFa，开启企业社会化时代！</title></head>
<body>	
<div id="main_detail">
您好！<br>
    您的同事{{ename}}【<a class='employee_name' login_account='{{account}}'>{{ realName }}</a>】邀请您加入圈子【{{ circlename }}】，请点击“立即加入”加入圈子：<br>
    <a href="{{ activeurl }}" style="color:blue;">立即加入</a>
</div>
</body>
</html>