{% extends 'JustsyBaseBundle::master2c.html.twig' %}

{% block stylesheets %}  
<style type="text/css">
.preview_fake{ /* 该对象用于在IE下显示预览图片 */
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale);
.}
.alert {
  padding: 5px 10px 5px 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
  line-height:20px;
  position:absolute
}
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.reg_input_parent{position:relative;z-index:0}
.reg_alert{display:none;z-index:100;position:absolute;top:33px;width:292px;left:0px}
.reg_alert_closebtn{cursor:pointer;background:url({{asset('bundles/fafatimewebase/images/icon_close_normal.png')}}); float:right; width:16px; height:16px;}
.reg_alert_closebtn:hover {cursor:pointer;background:url({{asset('bundles/fafatimewebase/images/icon_close_hover.png')}}); float:right; width:16px; height:16px;}
.reg_alert div{font-weight:bold}
.reg_alert .alert_content{float:left;width:100%;height:100%}
</style>
{% endblock %}

{% block main_content_left %}
{% render "JustsyBaseBundle:CPerBaseInfo:index" with {"name" : "foo"} %}
{% include 'JustsyBaseBundle:EnterpriseHome:leftmenu.html.twig' %}
<div class="menuother">我的圈子</div>
<ul class="left-menu">
  {% for circle in this.circles %}
     <li>
       <a style="overflow: hidden;"><i class="icon-group"></i>{{ circle["circle_name"] }}</a><span style="display:none"><img src=""></span>
     </li>
  {% endfor %}
</ul>
{% endblock %}
	  
{% block main_content_center %}
<form id="form1" method="post" action="{{ path('JustsyBaseBundle_group_update')}}" enctype="multipart/form-data">
<input type="hidden" name="txtnetwork" id="txtnetwork" value="{{curr_network_domain}}">
<input type="hidden" name="invitedmemebers" id="invitedmemebers" >
<div>
  <div class="control-group input-box">
    <div class="grade-title circles-title">创建圈子</div>
	  <div class=" rightdetail_photo" style="top:100px;right:220px">
	    <div  style="width:120px; height:122px;line-height: 120px;border:#ccc solid 1px;text-align:center;" id="preview_fake" onclick="editHead()">
	         <img style="width:120px; height:120px;border:0px;cursor:pointer" title="更改圈子LOGO" id="preview" src='{{ asset('bundles/fafatimewebase/images/default_circle.png') }}'> 
	    </div>
	    <div class="alllist">
	      <br> 拥有您自已的圈子LOGO，印象更深刻！！<br> 
	      <a show=false href="javascript:void(0)" onclick="editHead()"  >上传圈子LOGO！</a>
	      <span><img id='loadlog' style='width:12px;height:12px;display:none;' src="{{ asset('bundles/fafatimewebase/images/loadingsmall.gif') }}"/></span>
	      <div id="logoupload" style="display:none">
	      		<input type=file id="en_logo_file" name="en_logo_file">
	      </div>
	    </div>
	  </div>
	</div>
    <div class="control-group input-list"><label class="all-lable">圈子分类：</label>
    <select name="classify" id="classify" class="all-select"></select>
    <select name="classify-childer" id="classify-childer" class="all-select"></select>
    </div>
    <div class="control-group input-list clearfix">
      <label class="all-labletwo">圈子名称：</label>
      <div class="all-lableone reg_input_parent">
        <input class="all-input" maxlength="10" onblur="javascript:CheckCircleOrNetWork(this.value);" name="txtcircle" id="txtcircle" type="text">
        <div><span class="hint-msg" style="color:red;"></span></div>
      </div>
    </div>
    <div class="control-group createbox clearfix"><label class="all-lableone">开放类型：</label>
      <div class="all-lableone">
      <p class="inputlist">
      <input type="radio" name="radjoin" id="radio0" value="0" class="radio-input" checked>完全开放：任何人可以查看、搜索和申请加入</p>
      <p class="inputlist">
      <input type="radio" name="radjoin" id="radio1" value="1" class="radio-input" >私密：只有圈子成员才可以查看和邀请成员加入
      </p>
      </div>
    </div>
    <div class="control-group createboxone clearfix"><label class="all-lableone">是否允许转发：</label>
      <div class="all-lableone">
      <p class="inputlist">
      <input name="radcopy" id="radcopy0" value="0" type="radio"  class="radio-input" checked>允许 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="radcopy" id="radcopy0" value="1" class="radio-input" type="radio">不允许</p>
      </div>
    </div>
    <div class="control-group input-list clearfix">
      <label class="all-labletwo">邀请成员：</label>
      <div class="all-lableone reg_input_parent">
        <div id="div_inv_member" class="lib_notify ask_div1" style="cursor: text; padding-top: 2px; padding-bottom: 1px; width: 300px; height: 100px;" onclick="$(this).children('#txtNotifyCircle').focus()">
          <div id="InputNotifyAreaCircle"></div>
          <input id="txtNotifyCircle" type="text" class="ask_input" style="width: 120px; margin: 0px; padding: 0px; vertical-align: top;">
          <img src="{{ asset('bundles/fafatimewebase/images/loading.gif') }}" width="16" height="16" id="loadingImg" style="display:none" />
        </div>
        <div><span class="hint-msg" style="color:red;"></span></div>
        <div><span>多个被邀请人用回车隔开</span></div>
      </div>
    </div>
    <div class="createinputlist"><input name="btnupdate" id="btnupdate" type="button" onClick="javascript:button_click();" class="createinput" value="创建圈子" disabled></div>
  </div>
</div>
</form>
<div class="modal" data-backdrop=false style="display:none;width:530px;margin-left: -265px;" show=false class="invitedphoto clearfix" id="invitedphoto">
  <div class="modal-body" style="height:400px">{% render "JustsyBaseBundle:CAvatarEditor:index" with {"name" : "foo"} %}</div>
  <div class="modal-footer"><A class=btn href="javascript:saveHead()">确定</A><span class=btn><a data-dismiss="modal">关闭</a></span></div>
</div>
<div class="modal" data-backdrop=false style="display:none;width:650px;margin-left: -265px;" show=false class="invitedmemeber clearfix" id="invitedmemeber">
  <div class="modal-header reg_input_parent">
    <input type="text" name="searchInput" id="searchInput" maxlength=10 value="搜索同事 搜索朋友" onfocus="this.value=''" onblur="if(this.value=='') this.value='搜索同事 搜索朋友'">
    <span data-toggle="modal" show=false onclick="searchmember($('#searchInput').val())" style="width:16px;height:16px;background-image:url('{{asset('bundles/fafatimewebase/images/icon_search.png')}}');position:absolute;cursor:pointer;top:16px;left:220px">&nbsp;&nbsp;</span>
  </div>
  <div class="modal-body" style="height:400px" id="memebers"></div>
  <div class="modal-footer"><span><img class='modal_savelog' style='display:none;width:16px;height:16px;margin-right:5px;' src="{{ asset('bundles/fafatimewebase/images/loadingsmall.gif') }}"/></span><A class=btn href="javascript:returnMember()">确定</A><span class=btn><a data-dismiss="modal">关闭</a></span></div>
</div>  
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var circletype = {{this.circleType|raw}};
var staff_100={{staff|raw}}, staff_ds=null, isquery=false;
var fileurl="{{fileurl}}";
var save_circle_logo_url="{{path('JustsyBaseBundle_circle_save_logo')}}";
var defaultTxt1 = "被邀请人的邮箱或姓名";
var hintMsg = 
{
  "mail01":"您输入的邮件地址不正确，请检查！",
  "mail02":"您不能邀请自己！"
};
$(document).ready(function()
{
  var obj = $($("#invitedphoto .modal-body")[0].children[0].children[0]);
  var obj_ff = obj.find("embed");
  uploadObj = document.all==null? obj_ff : obj;
  uploadObj.css({"height":"380px","width":"500px"});

  for (var i=0; i<staff_100.length; i++)
  {
    staff_100[i].index = i; 
    staff_100[i].toString = function(){return this.index;};
  }
  $("#txtNotifyCircle").val(defaultTxt1).focus(function()
  {
    if (this.value==defaultTxt1)
    {
      this.value="";
    }
    else if (!inarea)
    {
      this.value=this.value;
    }
    $(this).css("color","black");
  }).mouseenter(function()
  {
    inarea = true;
  }).mouseleave(function()
  {
    inarea = false;
  }).blur(function()
  {
    if (this.value=="")
    {
      this.value=defaultTxt1;
      $(this).css("color","#B8B8B8");
    }
    changeTag(this);
  }).keyup(function(ev)
  {
    var key = ev.keyCode;
    if (key==13)
    {
      changeTag(this);
    }
  }).keydown(function(ev)
  {
    if (ev.keyCode==8)
    {
      if (this.value=="") $("#InputNotifyAreaCircle .NotifyObj:last").remove();
    }
  }).typeahead(
  {
    source : function(query,process)
    {
      var c = 0;
      $.each(staff_100,function(i,n)
      {
        if (n.login_account.split("@")[0].toLowerCase().indexOf(query.toLowerCase())>=0) c++
      });
      if (c>0)
      {
        isquery = false;
        staff_ds = staff_100;
        process(staff_ds);
      }
      else
      {
        $.post("{{ path('JustsyBaseBundle_circle_querystaff') }}", {account:query}, function(data) 
        {
          for (var i=0; i< data.length; i++)
          {
            data[i].index = i; 
            data[i].toString = function(){return this.index;};
          }
          isquery = true;
          staff_ds = data;
          process(staff_ds);
        }, "json");
      }
    },
    highlighter : function(item)
    {
      return (!isquery) ? "<span>"+item.nick_name+"("+item.login_account+")</span>" : 
        "<span>"+item.nick_name+"@"+item.eshortname+"</span>";
    },
    matcher : function(item)
    {
      if (this.query)
      {
        return ~item.login_account.split("@")[0].toLowerCase().indexOf(this.query.toLowerCase()) || 
          ~item.nick_name.toLowerCase().indexOf(this.query.toLowerCase());
      }
      else
      {
        return true;
      }
    },
    sorter : function(item)
    {
      return item;
    },
    updater : function(item)
    {
      var $InputNotifyArea = $("#InputNotifyAreaCircle");
      var source = staff_ds;
      if (source[item].login_account=="{{app.user.username}}") return;
      if ($("input[value='"+source[item].login_account+"']", $InputNotifyArea).length == 0)
      {
        $(GetNotifyTemplate(source[item].login_account, source[item].nick_name)).attr("fafa_jid",source[item].fafa_jid).appendTo($InputNotifyArea);
        clearErrInfo($('#div_inv_member').parent());
      }
      $("#txtNotifyCircle").focus();
      return "";
    }
  });
  
  $(".reg_alert_closebtn").live("click",function()
  {
    $(this).parent().parent().hide();
  });
  $("#invitedmemeber").on("shown",{},function()
  {
    //加载成员列表
    if ($(this).attr("isloaded") != "1")
    {
      LoadComponent("memebers", "{{path('JustsyBaseBundle_member_main',{'network_domain':curr_network_domain})}}?selectdlg=1");
      $(this).attr("isloaded", "1"); 
    }
  });
  if(circletype!=null)
  {
    for(var i=0;i<circletype.length; i++)
    {
      if(circletype[i].parent==0||circletype[i].parent==circletype[i].id)
        $("#classify").append("<option value='"+circletype[i].id+"'>"+circletype[i].name+"</option>");	
      if(i==0)//加载子类
      {
        var tmpID = circletype[i].id;
        for(var i1=0;i1<circletype.length; i1++)
        {
          if(circletype[i1].parent==tmpID && circletype[i1].id!=circletype[i1].parent)
            $("#classify-childer").append("<option value='"+circletype[i1].id+"'>"+circletype[i1].name+"</option>");
        }		        	
      }
    }
    $("#classify").change(function()
    {
      $("#classify-childer").empty();
      var id=$(this).val();
      for(var i1=0;i1<circletype.length; i1++)
      {
        if(circletype[i1].parent!=circletype[i1].id && circletype[i1].parent==id)
          $("#classify-childer").append("<option value='"+circletype[i1].id+"'>"+circletype[i1].name+"</option>");
      }
    });
  }		  
});
function saveLogo()
{
	$("#loadlog").show();
	$.post(save_circle_logo_url,{},function(d){
		$("#loadlog").hide();
		if(d.circle_photo_path!=''){
			$('#preview').attr("src",fileurl+d.circle_photo_path);
		}
		else{
			
		}
	});
}
function changeTag(tn)
{
  setTimeout(function()
  {
    if (tn.value.length==0 || tn.value==defaultTxt1) return;
    var account = $.trim(tn.value);
    if (!validEmail(account))
    {
      setErrInfo($('#div_inv_member').parent(),hintMsg.mail01);
      return false;
    }
    else if (account=="{{app.user.username}}")
    {
      setErrInfo($('#div_inv_member').parent(),hintMsg.mail02);
      return false;
    }
    var htm = GetNotifyTemplate(account,account);
    $("#InputNotifyAreaCircle").append(htm);
    tn.value = "";
    clearErrInfo($('#div_inv_member').parent());
  },200);
}

//显示错误信息
function setErrInfo(pn, info)
{
  pn.find(".hint-msg").text(info);
}		
//清除错误信息
function clearErrInfo(pn)
{
  pn.find(".hint-msg").text("");
}

    function loadCirlceMember(curr_network_domain)
    {
    	 LoadComponent("memebers", "{{path('JustsyBaseBundle_member_main',{'network_domain':'AAA'})}}?selectdlg=1".replace("AAA",curr_network_domain));
    }
		function searchmember(v)
		{
			  LoadComponent("memebers", "{{path('JustsyBaseBundle_member_searchall',{'filtervalue':'AAA'})}}?selectdlg=1".replace("AAA",v));
		}    
    var circle_Name = "";
    var val="";
    var circleid = 0;
    var network="",network_val="";
	  var uploadObj=null;
		function editHead()
		{
			  $("#invitedphoto").modal("show");
		}
		function saveHead()
		{
			$(".modal_savelog").show();
		   uploadObj[0].doSave();
		}
		function avatar_success()
		{
				$(".modal_savelog").hide();
			  $("#invitedphoto").modal("hide");	
			  var circlesdownphoto = $(".circles-downphoto");
			  circlesdownphoto.html( "<a data-toggle=\"modal\" show=false href=\"#invitedphoto\"><img id='img1' width='120px' height='120px' src='{{path('JustsyBaseBundle_component_cavatareditor_getfileinfo',{'size':'120'})}}'/></a>");
			  saveLogo();
		}
		function showinvitedmemeber()
		{
			$("#invitedmemeber").modal("show");
		}
		function returnMember()
		{
			  $("#invitedmemeber").modal("hide");
		   	var lst=$("input:checkbox:checked");
		   	var tmp =$("#invitedmemebers")[0];
		   	$.each(lst,function(i,n)
		   	{
		   		  var tv = $(n).attr("text");
		   		  if(tmp.value.indexOf(tv)>-1) return;
		   		  var account = /<.*>/g.exec(tv)[0].replace(/<>/g,"");
		   		  if(tmp.value.indexOf(account)>-1) return;
		   	    if(tmp.value=="") tmp.value =  tv;
		   	    else tmp.value =  tmp.value+";"+tv;
		   	})
		   	
		}
	
    function CheckCircleOrNetWork(values)
    {
    	 $('#btnupdate').attr('disabled',true);
       if (values=="")
       {
           setErrInfo($('#txtcircle').parent(),"请输入圈子名称");
           //$('#txtcircle').focus();
           return false;
       }
       else
       {
           $('#txtcircle').parent().find('img').attr('src',"{{ asset('bundles/fafatimewebase/images/loading.gif')}}");
           clearErrInfo($('#txtcircle').parent());
           $.post("{{ path('JustsyBaseBundle_circle_check')}}","type=1&parameter="+$('#txtcircle')[0].value,function(r)
           {
             if(r.exist && circleid!=r.id)
             {
             	 setErrInfo($('#txtcircle').parent(),"圈子名称已被使用");           
             }
             else
             {
               clearErrInfo($('#txtcircle').parent());
               $('#btnupdate').attr('disabled',false);
             }
           });
       }
    }

    function getCircleINFO(circle_id,admin,default_cirlce)
    {
      $.post("{{ path('JustsyBaseBundle_circle_info')}}?id=" + circle_id,function(result)
      {
        if (default_cirlce==1)
          $('#txtnetwork').attr('disabled',true);
        else
          $('#txtnetwork').attr('disabled',false);
        if(result.exist)
        {
        	$("#btnupdate")[0].value="保存";
          circleid = circle_id;
          val = result.circlename;
          network_val = result.network;
          var circlesdownphoto = $(".circles-downphoto");
          if(result.img==null||result.img=="")
             circlesdownphoto.html( "<a data-toggle=\"modal\" show=false href=\"#invitedphoto\"><img src=\"{{asset('bundles/fafatimewebase/images/downphoto.png')}}\" style=\"width:37px; height:49px; padding-top:30px;\"><br>上传圈子图标</a>");
          else
			       circlesdownphoto.html( "<a data-toggle=\"modal\" show=false href=\"#invitedphoto\"><img id='img1' width='120px' height='120px' src='"+result.img+"'/></a>");
		          
          $('#btnupdate').attr('disabled',false);
          if(admin!=1)
              $('#btnupdate').hide();
          else
             $('#btnupdate').show();
          $('#txtcircle').val(result.circlename);          
          $('#classify').val(result.circle_class_parent); 
          $('#classify-childer').val(result.circle_class_id); 
          if (result.join_method =="1")
             $('#radio1').attr('checked',true);
          else
             $('#radio0').attr('checked',true);
          if (result.allow_copy =="1")
             $("#radcopy1").attr("checked",true);
          else
             $("#radcopy0").attr("checked",true);
        }
        else
        {
          circleid = 0;
        }
      });
    }
    
    function button_click()
    {
      if ($('#txtcircle').attr('value')!="")
      {
        $('#btnupdate').attr('disabled',true);
        $('#btnupdate').val('提交中...');
        var invs = $(".NotifyObj");
        var s = "";
        $.each(invs,function(i,n)
        {
          s += $(n).find("input").val() + ";";
        });
        $("#invitedmemebers").val(s);
        document.getElementById('form1').action = "{{ path('JustsyBaseBundle_circle_update')}}?id=" + circleid;
        document.getElementById('form1').submit();
      }
      else
      {
        setErrInfo($('#txtcircle').parent(),"请输入圈子名称");
        //$('#txtcircle').focus();
      }
    }
  </script>
{% endblock %}