<div id="invite_hint" style="line-height: 18px;"></div>
<table id="invited_table" class="table">
  <thead>
    <tr>
      <th>邀请人帐号</th>
      <th>标题</th>
      <th>邀请时间</th>
      <th>&nbsp</th>
      <th>&nbsp</th>
    </tr>
  </thead>
  <tbody>
    {%if rows|length >0%}
    {% for r in rows %}
    <tr id="invited_table_{{loop.index0}}">
      <td width="15%" title="{{ r.invite_send_email }}"><span style="white-space: nowrap;width:105px;text-overflow: ellipsis; overflow: hidden; display: block;"><a class="employee_name" login_account="{{ r.invite_send_email }}">{{ r.invite_send_email }}</a></span></td>
      <td width="25%" title="{{ r.inv_content }}"><span style="white-space: nowrap;width:175px;text-overflow: ellipsis; overflow: hidden; display: block;">{{ r.inv_title|raw }}</span></td>
      <td width="25%">{{ r.last_invite_date }}</td>      
      <td width="10%">
        <a style="cursor:pointer;color: #08C" id="{{ r.invite_send_email }}" href="javascript:invite.inviteAgree('{{loop.index0}}','{{r.active_addr}}')">同意</a>
      </td>
      <td width="10%">
        <a style="cursor:pointer;color: #08C" id="{{ r.invite_send_email }}" eno="{{r.eno}}" onclick="javascript:invite.inviteReject('{{loop.index0}}','{{path('JustsyBaseBundle_invite_refuse')}}?invite_send_email={{r.invite_send_email}}&eno={{r.eno}}');">拒绝</a>
        <img style="display:none" src="{{ asset("bundles/fafatimewebase/images/loadingsmall.gif") }}" />
      </td>
    </tr>
    {% endfor %}
    {%else%}
         <tr id="invited_table_0">
            <td colspan=5 style="color: #CCCCCC;text-align: center;">没有需要处理的邀请！</td>
         </tr>
    {%endif%}
  </tbody>
</table>