<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FaFa，开启企业社会化时代！</title></head>
<body>	
<div id="main_detail">
您好！<br>
    {{ename}}【{{ realName }}】邀请您加入{% if groupid %} 群组【{{ gname }}】 {% else %}微发发{% endif %}，请到以下网址激活您的帐号<br>
    <a href="{{ activeurl }}">{{ activeurl }}</a><br>
    {% if invMsg %}他对您说：{{invMsg}} {% endif %}
</div>
</body>
</html>