{% extends 'JustsyBaseBundle:EnterpriseSetting:enterprise_master.html.twig' %}
{% block menuitemactive_microappmanager %}class="active"{% endblock %} 

{% block main_content_center%}

<div class="grade-title">业务代理</div>
<div class="rightdetail clearfix">	
	<p>　　Wefafa业务代理是基于Wefafa消息服务，通过自定义交互规则与业务消息验证规则，与现有业务系统进行接口，实现对现有业务系统无缝扩展移动办公应用的一种代理服务。</p>
	<p>　　当现有业务系统具有以下需求时，能通过Wefafa业务代理快速实现：</p>
	<ul>
		<li>现有业务系统已在线运行或正在建设</li>
		<li>不改造或尽量少改造原有系统</li>
		<li>随时随地通过各平台终端设备（PC、Android、IOS）访问业务系统的功能</li>
	</ul>
	<table style="width:80%;">
		<tr>
			<td><h5 style="text-align:center;">普通应用模式</h5></td>
			<td><h5 style="text-align:center;">插件应用模式</h5></td>
		</tr>
		<tr>
			<td style="width:50%;"><image style="width:100%;" src="{{asset('bundles/fafatimewebase/images/webiz_1.png')}}"/></td>
			<td style="width:50%;"><image style="width:100%;" src="{{asset('bundles/fafatimewebase/images/webiz_2.png')}}"/></td>
		</tr>
	</table>
	<br>
	<a href="{{asset('bundles/../download/WefafaAgent.rar')}}" target="_blank"><div id="btnSave" type="button" style="line-height: 38px; width: 138px; text-align: center;display: inline-block;" class="inputsmall" value="业务代理下载">业务代理下载</div></a>
	<a href="{{asset('bundles/../download/WeBizProxyDoc.rar')}}" target="_blank"><div id="btnSave" type="button" style="line-height: 38px; width: 138px; text-align: center;display: inline-block;" class="inputsmall" value="文档下载">文档下载</div></a>
	<a href="{{asset('bundles/../download/WeBizProxy.rar')}}" target="_blank"><div id="btnSave" type="button" style="line-height: 38px; width: 138px; text-align: center;display: inline-block;" class="inputsmall" value="绿色版下载">绿色版下载</div></a>
	<p>注：绿色版下载后可解压至任一目录，直接运行WeBizProxy.exe，但该模式下无法通过WEB管理工具管理服务（每次修改配置后必须重启WeBizProxy.exe），若要以服务方式运行，可执行InstallService.bat将业务代理安装为服务。</p>
</div>
{% endblock %}
