<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
<div>
您好！<br>
    {{ename}}【{{ realName }}】邀请您加入群组【{{ gname }}】。 <a href="{{ activeurl }}" style="color:blue;">点击加入</a><br>
    {% if invMsg is defined and invMsg %}他对您说：{{invMsg}}{% endif %}
</div>
</body>
</html>